<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04141AEB1E68FF1700E30C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04141B041E68FF1700E30C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04141B0F1E68FF1700E30C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
